{% extends 'base.html.twig' %}

{% block title %}
    {% if car == false %}
        Car not found :C
    {% else %}
       {{car.maker}} {{ car.model }}
    {% endif %}
{% endblock %}

{% block content %}
    {% if car == false %}
        <h3>Car not found <i class="fa fa-frown-o" aria-hidden="true"></i></h3>
        <hr>
        <a href="./"><< Back to list</a>
    {% else %}
        <small>Car id: {{ car.id }}</small>
        <h1>{{ car.maker }}</h1>
        <h2>{{ car.model }}</h2>
        <hr>
        <img src="https://picsum.photos/500/300">
        <hr>
        <a href="./"><< Back to list</a>
    {% endif %}

{% endblock %}